<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Ext2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ExtToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ExtTst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ION ENgine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ext3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>440DB37F1B5EAD8A00255621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>440FEE011BF49BED007D14CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>441F49401A40299900BBAE8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4421E11E1BCEC9A60081C9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44624DE51BF37F3800AA1BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>448E8F5C1A3F2CF5008522F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A6D5461BCEC03600CA5B09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44C302931A3F348800A70718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EBA7AD1A3B4E5500AEF71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EBA7C11A3B4EED00AEF71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EECE121A3B3F18005ADB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EF003D1A497167001FAB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F280A21A3EF18C00FEFC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F281D71A3EFD7600FEFC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F281E81A3EFF3F00FEFC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F2831A1A3F00B000FEFC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F2844C1A3F04C200FEFC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
